-- Run this in Railway Postgres or add to bot.py init
CREATE TABLE IF NOT EXISTS roi_history (
    id SERIAL PRIMARY KEY,
    user_id TEXT,
    roi_percent DECIMAL(10,2),
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_roi_created ON roi_history(created_at DESC);
